<h2>人員登記表</h2>

<div class="people_list">
  <!-- 雙向綁定 -->
  <mat-form-field>
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" id="username" [(ngModel)]="peopleInfo.username">
  </mat-form-field>

  <!-- Radio -->
  <section>
    <div>
      <span>
        <mat-radio-group [(ngModel)]="peopleInfo.sex">
          <mat-radio-button value="1">男</mat-radio-button>
          <mat-radio-button value="2">女</mat-radio-button>
        </mat-radio-group>
      </span>
    </div>
  </section>
  <!-- Select -->
  <mat-form-field appearance="outline">
    <mat-label>Select an option</mat-label>
    <mat-select disableRipple [(ngModel)]="peopleInfo.city">
      <mat-option *ngFor="let item of peopleInfo.cityList" [value]="item">{{item}}</mat-option>
      &nbsp;&nbsp;
    </mat-select>
  </mat-form-field>

  <!-- checklist -->
  <section class="example-section">
    <span *ngFor="let item of peopleInfo.hobby;let key=index;">
      <mat-checkbox class="example-margin" [(ngModel)]="item.checked"> {{item.title}}</mat-checkbox>
      &nbsp;&nbsp;
    </span>
  </section>



  <button (click)="doSubmit()" class="submit">获取表单的内容</button>
  <!-- json使用到了管道的知识 -->
  <!-- <pre class="c">{{peopleInfo |json}}</pre> -->
  <pre><code [innerHTML]="peopleInfo|json"></code></pre>
</div>
